@import '../../../assets/styles/constants.scss';

#contact-container {
    min-height: 95vh;
}

#contact-title {
    text-align: left;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: xx-large;
    color: $mybluecolor;
}