<div id="main-cont">
    <h1 style="font-size: xx-large;">Welcome!</h1>
    <br><br>
    <p style="font-size: larger;">
        My name is Glenn Viroux, I'm a software engineer from Belgium, 
        currently living and working in Madrid.
    </p>
    <br>
    <p style="font-size: larger;">
        This website serves as a small summary of my portfolio and to show some of 
        the stuff I've made recently. However, it also serves as a hosting place for 
        some of my personal projects. Head over to <a [routerLink]="'/projects'">this section</a> to check 
        them out!
    </p>
</div>
