<div *ngIf="showHeader">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand mr-auto" href="/">
            <mat-icon id="personal-logo" svgIcon="personal-logo"></mat-icon>
        </a>

        <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse"
            data-target="#navbarCollapseTarget" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
            aria-controls="navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapseTarget" [ngbCollapse]="!isCollapsed">
            <ul class="navbar-nav mt-2 mt-lg-0 container-fluid justify-content-end">
                <li class="nav-item mx-1">
                    <div class="myline-bottom"></div>
                    <a class="nav-link" (click)="clickEvent($event,'about')">About</a>
                </li>

                <li class="nav-item mx-1">
                    <div class="myline-bottom"></div>
                    <a class="nav-link" (click)="clickEvent($event,'experience')">Experience</a>
                </li>

                <!--
                <li class="nav-item mx-1">
                    <div class="myline-bottom"></div>
                    <a class="nav-link" (click)="clickEvent($event,'projects')">Projects</a>
                </li>
                -->

                <li ngbDropdown class="nav-item mx-1">
                    <div class="myline-bottom"></div>
                    <a class="nav-link" id="dropdownProjects" ngbDropdownToggle>Projects</a>
                    <div ngbDropdownMenu aria-labelledby="dropdownProjects">
                      <a ngbDropdownItem (click)="clickEvent($event,'projects')">Overview</a>
                      <a ngbDropdownItem (click)="clickEvent($event,'satplots')">GNSS Coverage</a>
                    </div>
                </li>

                <li class="nav-item mx-1">
                    <div class="myline-bottom"></div>
                    <a class="nav-link" (click)="clickEvent($event,'contact')">Contact</a>
                </li>

                <div class="social-icons" style="font-size: 1.05rem;" *ngIf="!appStateService.getIsMobileResolution()">
                    <li class="d-flex flex-row">
                        <a class="nav-link" target="_blank" href="https://www.instagram.com/glenn.viroux/">
                            <i class="fab fa-instagram fa-lg"></i>
                        </a>
                        <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/glenn-viroux-992852151/">
                            <i class="fab fa-linkedin-in fa-lg"></i>
                        </a>
                        <a class="nav-link" target="_blank" href="https://github.com/GlennViroux">
                            <i class="fab fa-github fa-lg"></i>
                        </a>
                    </li>
                </div>

            </ul>
        </div>
    </nav>
</div>