<div id="about-container">
    <h1 id="about-title">About me</h1>

    <div class="container" id="about-container">
        <div class="row">
            <div class="col-7 pr-4">
                <p style="font-size: larger;">
                    Hello! I'm Glenn, a software engineer currently based in Madrid, Spain.
                    I actually got my masters degree in mechanical/aerospace engineering, which
                    originated from my interest in space science and everything related to it.
                </p>
                <p style="font-size: larger;">
                    I studied mechanical/aerospace engineering in the 
                    <a href="https://www.kuleuven.be/english/" target="_blank">Catholic University of Leuven</a>,
                    because of my general interest in understanding how things work.
                    After graduating, I started working as a software engineer working in a project
                    concerning the European Global Satellite Navigation System (GNSS), 
                    <a href="https://www.gsa.europa.eu/european-gnss/galileo/galileo-european-global-satellite-based-navigation-system" target="_blank">Galileo</a>.
                    Although my work in this project is highly focused on the backend part, I started
                    being interested also by the frontend part of software applications. Fueled by this interest,
                    I started working on some personal projects, involving both backend and frontend code. You can
                    find an overview of these personal projects <a [routerLink]="'/projects'">here</a>.
                </p>
            </div>
            <div class="col-5">
                <img id="personal-image" src="../../assets/glenn.jpg">
            </div>
        </div>
    </div>
</div>



