<div id="mclas-container" class="container-xl mt-3">
    <br>
    <h1 id="mclas-title">Music genre classification</h1>
    <br>
    <p>
        This is a simple tool trying to guess the genre of a provided song or audio fragment.
        Based on the Mel Spectogram of the provided audio sample, a Convolutional Neural Network is
        used, providing you with the music genre(s) that most closely resemble the provided audio fragment.
    </p>
    <p>
        You can provide an audio file, or make a sound recording. In either case, make sure that the audio
        fragment contains at least 40 seconds of sound, in order to have a higher accuracy obtained by the
        neural network. Also, please note that a provided audio file will most likely produce more accurate
        results, as it usually contains more data than a recorded audio sample, and it doesn't include any
        background noise.
    </p>
    <p>
        The algorithm chooses between 10 music genres: blues, classical, country, disco, hiphop, jazz, metal,
        pop, reggae and rock.
    </p>
    <br><br>
    <div class="d-flex flex-column">
        <div class="mx-auto" id="record"></div>
        <div class="mx-auto">
            {{elapsed_time}}
        </div>
        <br><br>
        <label class="btn btn-light mx-auto w-100">
            <span *ngIf="uploading" class="spinner-border spinner-border-sm mr-1"></span>
            <span *ngIf="!uploading">Upload file</span>
            <input type="file" accept="audio/*" hidden (change)="sendAudioBytes($event)">
        </label>
        <br>

        <span *ngIf="showWarning" class="w-100 mx-auto alert alert-warning">
            <p>The provided audio sample is greater than 20MB, this might take a little while...</p>
        </span>
        <span *ngIf="showError" class="w-100 mx-auto alert alert-danger">
            <p>Uuups, something went wrong!</p>
            <p [innerHTML]="errorText">The error says: {{errorText}}</p>
        </span>

        <span *ngIf="showResult" class="w-100 mx-auto">
            <span *ngIf="selectedFile">
                <p>Audio file: {{selectedFile}}</p>
            </span>
            <p id="result-text" [innerHTML]="showText">
                {{showText}}
            </p>
        </span>


    </div>


</div>