@import "~bootstrap/scss/bootstrap";
@import './assets/styles/constants';

* {
    transition: opacity 0.3s;
}

a {
    cursor: pointer;
    color: black;
    text-decoration: underline;
    text-decoration-color: $mycolor;
}

a:hover {
    color: $mycolor;
    text-decoration: none;
    transition: 0.4s;
}

.nav-link {
    cursor: pointer;
}


* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }


